  /*Agrego fuentes*/
  @font-face {
    font-family: worksans;
    src: url(./../fonts/static/WorkSans-ExtraLight.ttf);
  }
  
  @font-face {
    font-family: poiretone;
    src: url(./../fonts/PoiretOne-Regular.ttf);
  }
