@import 'views/contact';
@import 'views/index';
@import 'views/news';
@import 'views/ourteam';
@import 'views/products';

@media only screen and (min-width: 992px) {
    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    main {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    img:hover {
        transform: scale(1.1);
        object-fit: cover;
        z-index: 10;
    }

    img {
        transition: transform 1s;
    }

    /*Inicia footer*/
    .footer__btn:hover {
        opacity: 80%;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    /*Inicia Contact-Desktop*/
    .main__contact {
        flex-direction: row;
        align-items: flex-start;

        &--form--titulo {
            font-size: 5rem;
        }

        &--datos--titulo {
            font-size: 5rem;
        }

        &--datos--texto {
            font-size: 3rem;
        }
    }

    /*Inicia Index*/
    .section1 h1 {
        padding-top: 3rem;
        font-size: 5rem;
    }

    .section1 h1 strong {
        font-size: 6rem;
    }

    .section2 {
        flex-direction: row-reverse;

        &__cuadro--texto h2 {
            font-size: 5rem;
            font-weight: 600;
        }

        &__cuadro--texto p {
            font-size: 3rem;
        }
    }

    .section3 {
        height: 120rem;

        &__images {
            flex-direction: row;
        }

        &__images--1 {
            width: 50%;
        }

        &__images--1--image {
            max-width: 400px;
        }

        &__images--2 {
            width: 50%;
        }

        &__cuadro &__cuadro--titulo {
            font-size: 6rem;
        }

        &__cuadro &__cuadro--p {
            font-size: 3rem;
        }
    }

    /*Inicia News-Desktop*/
    .newsBloque1__titulo {
        font-size: 8rem;
    }

    .newsBloque2__titulo {
        font-size: 8rem;
    }

    .newsBloque3__titulo {
        font-size: 8rem;
    }

    .newsBloque4__titulo {
        font-size: 8rem;
    }

    /*Inicia our team-Desktop*/
    .ourteamBloque1 {
        flex-direction: row;
    }

    .ourteamBloque1__cards {
        flex-direction: row;
    }

    .ourteamBloque2 {
        font-size: 6rem;
    }

    .ourteamBloque2__titulo {
        font-size: 8rem;
    }

    .fa-angle-down:hover {
        color: rgba(0, 0, 0, 0.679);
        text-decoration: none;
    }

    /*Inicia Products-Desktop*/
    .gridContainerProducts {
        grid-template-columns: repeat(4, 1fr);
    }

    .flex__containerMain {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .productsBloque1 {
        flex-direction: row-reverse;

        &__derecha {
            width: 50%;
        }

        &__izquierda {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "image1 image2"
                "image3 image4";
        }
    }

    .productsBloque2 {
        flex-direction: row;
    }

    .productsBloque3 {
        flex-direction: row-reverse;
    }

    /*Inicia Products for*/
    .gridContainerProductsFace {
        grid-template-columns: repeat(4, 1fr);
    }

    .mainProductsFace {
        font-size: 6rem;
    }

    .backto {
        transition: transform 2s;
    }

    .backto:hover {
        transform: scale(1.5, 1.5);
        opacity: 50%;
    }

    .gridContainerProductsBody {
        grid-template-columns: repeat(4, 1fr);
    }
}