html {
  font-size: 62.5%;
  /*1 rem === 10px*/
}

body {
  font-size: 1.8rem;
  font-family: $font-family-primary;
  color: black;
}
main {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 5rem;
}

.gridContainer{
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


