/*Inicia News-Mobile*/

#carouselExampleControls {
  background-color: $background-primary;
  padding-top: 20px;
}

.imagesNews {
  max-width: 1800px;
  border-radius: 0%;
  width: 100%;
}

.newsBloque1__caja {
  position: absolute;
  top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsBloque1__caja--titulo{
  font-size: 3.5rem;
  background-color: $font-color-titulo;
  color: $font-color-secondary;
  z-index: 50;
  width: 100%;
}

.newsBloque2 {
  background-image: url(../img/news2.png);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  height: 80rem;
  background-position: top;

  &__titulo {
    color: $font-color-secondary;
    font-size: 3.5rem;
    z-index: 50;
    background-color: $font-color-titulo;
  }
}

.newsBloque3 {
  background-color: black;
  color: $font-color-secondary;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;

  &__titulo {
    z-index: 50;
    font-size: 3.5rem;
    position: absolute;
    background-color: $font-color-titulo;
    width: 100%;
  }
}

#myVideo {
  position: relative;
  width: 100%;
}

.newsBloque4 {
  background-image: url('../img/news3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: $font-color-secondary;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  &__titulo {
    z-index: 50;
    font-size: 3.5rem;
    position: absolute;
    background-color: $font-color-titulo;
    width: 100%;
  }
}