/*Inicia Our Team-Mobile*/
.ourteamBloque1 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__cuadro{
        background-color: $background-secondary;
        color: $font-color-secondary;
        width: 100%;
    }
    &__cuadro--titulo {
        font-size: 5rem;
        padding-top: 4rem;
    }
    &__cards {
        background-color: $background-primary;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

/*Inicia cards boostrap*/
.cardOurTeam {
    width: 100%;
    background-color: $background-primary;
}
.card-text {
    font-weight: 500;
    margin: 0;
    font-size: 2rem;
}
.card-title {
    font-weight: 600;
    margin: 0;
    font-size: 3rem;
}
.cardImageOurTeam {
    border-radius: 0%;
}
.cardImageDivOurTeam {
    overflow: hidden;
}

.ourteamBloque2 {
    background-image: url('../img/team.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 5rem;

    &__titulo {
        font-size: 6rem;
    }
    
}
.fa-angle-down:hover {
    color: rgba(0, 0, 0, 0.679);
    text-decoration: none;
}
.ourteamBloque3 {
    width: 100%;
}

