$background-primary: #E4E4DB;
$background-secondary: #a27365ff;
$background-tertiary:white;
$background-cuadro: #ab99c7ff;
$background-gradient:linear-gradient(90deg, rgba(180,133,125,1) 0%, rgba(233,121,102,1) 100%, rgba(237,237,222,1) 100%);
$font-color-primary: black;
$font-color-secondary: white;
$font-color-tertiary:#a27365ff;
$font-color-titulo: rgba(0, 0, 0, 0.300);


$font-family-primary:worksans,Arial, Helvetica, sans-serif;
$font-family-secondary:poiretone,Arial, Helvetica, sans-serif;

$estilosFooter:(
    text-decoration: underline,
    color:rgba(255, 255, 255, 0.732)
);
